@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-secondary: #15803d;
  --color-accent: #bbf7d0;
}

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: sans-serif;
}
